In [1]:
3/2

1.5

In [2]:
7 % 4

3

In [3]:
Â x = 'hello world'

SyntaxError: invalid character in identifier (<ipython-input-3-6c03ff2c6f2d>, line 1)

In [11]:
hello = 'hi this is a string'

In [12]:
hello[0]

'h'

In [13]:
hello[-1]

'g'

In [14]:
hello[:3]

'hi '

In [15]:
hello[2:6]

' thi'

In [16]:
hello

'hi this is a string'

In [18]:
hello[::-1]

'gnirts a si siht ih'

In [19]:
hello[-2:-5:-1]

'nir'

In [51]:
hello.upper()

'HI THIS IS A STRING'

In [55]:
hello.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [58]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [63]:
print ('the {f} {f} {f} '.format(f = 'fox',b = 'brown', q = 'quick'))

the fox fox fox

In [3]:
result = 1000099/666

In [4]:
result

1501.6501501501502

In [22]:
print('the result is {}'.format(result))

the result is 1501.6501501501502

In [23]:
print('the result is {r:4.4f}'.format(r=result))

the result is 1501.6502

F(formatted) string is useful in doing probablity and statistics where the number needs to be precise below example 8 precision denotes the result can hold 8 values including both left and right to the decimal.

In [13]:
print(f'the fstring reslut is {14.2345223443322:{.3}}')

the fstring reslut is 14.2

In [106]:
name = 'bharath'

In [107]:
print(f'{name} is my name')

bharath is my name

In [6]:
print(f'this is a test {result:{.5}}')

this is a test 1501.7

In [7]:
my_dict = {'Key1':1,'key2':2,'key3':3,'key4':[0,1,2,3,'four']}

In [14]:
my_dict['key4'][4]

'four'

In [26]:
nest = {'dic1':{'dic2':{'dic3':12345}}}

In [30]:
nest['dic1']['dic2']

12345

In [18]:
nest['dic1']['dic2']['dic3']

12345

In [24]:
nest['dic1']['dic2']['key1'] = 6789

In [25]:
nest.values()

dict_values([{'dic2': {'dic3': 12345, 'key1': 6789}}])

In [32]:
nest['dic1'].keys()

dict_keys(['dic2'])

In [34]:
pwd

'/Users/aazur3e'

In [98]:
%%writefile myfile.txt
This is the first line
second line
third line
fourth line
fifth line

Overwriting myfile.txt

In [89]:
file = open('myfile.txt')

In [90]:
file.read()

'This is the first line\nsecond line\nthird line\nfourth line\nfifth line'

In [106]:
file.seek(0)

ValueError: I/O operation on closed file.

In [99]:
with open('myfile.txt',mode = 'a') as file:
        file.write('\nsixth line')

In [104]:
with open('myfile.txt',mode = 'r+') as file:
    print(file.read())
    file.write('\nseventh line')
    print(file.read())

This is the first line
second line
third line
fourth line
fifth line
sixth line
seventh line

In [149]:
with open('myfile.txt',mode = 'r+') as file:
    print(file.read())

This is the first line
second line
third line
fourth line
fifth line
sixth line
seventh line
seventh line

In [150]:
d = {'k1':[{'key1':['this is a list',['hello','Sowmya']]}]}

In [151]:
d['k1'][0]['key1'][1][0] +' '+ d['k1'][0]['key1'][1][1]

'hello Sowmya'

In [145]:
d = {'key1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [146]:
d

{'key1': [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}

In [148]:
d['key1'][2]['k2'][1]['tough'][2][0]

'hello'

In [156]:
if 1 == 1:
    print(True)
else:
    print(False)

True

In [159]:
d

{'k1': [{'key1': ['this is a list', ['hello', 'Sowmya']]}]}

In [161]:
for i in d['k1']:
    print(i)

{'key1': ['this is a list', ['hello', 'Sowmya']]}

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [164]:
for num in mylist:
    print('test')

test
test
test
test
test
test
test
test
test
test

In [174]:
for num in mylist:
    #check for even
    if (num % 2) == 0:
        print(num)
    else:
        print(f'odd {num}')

odd 1
2
odd 3
4
odd 5
6
odd 7
8
odd 9
10

In [176]:
s = 0 
for i in mylist:
    s =+ i
    print(s)

10

In [187]:
for _ in 'hello world': #_ print anything in the print. 
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [17]:
mylis = [(1,2),(3,4),(5,6),(7,8)] #list contains tuple

6

In [193]:
for a,b in mylis:  # tuple unpacking 
    print(a),print(b)

1
2
3
4
5
6
7
8

In [190]:
for i in mylis: #prints the tuple 
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [196]:
dic ={'k1':1,'k2':2,'k3':3}

In [203]:
for item in dic.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [202]:
for key,value in dic.items():
    print(value)

1
2
3

In [3]:
mylis

NameError: name 'mylis' is not defined

In [9]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
x = 4
while x < 5:
    print(f'the current value of x is {x}')
    x += 1
else:
    pass

the current value of x is 4

In [19]:
index_count = 0
for num in 'hello world':
    print('the index is {} and the value is {}'.format(index_count,num))
    index_count += 1

the index is 0 and the value is h
the index is 1 and the value is e
the index is 2 and the value is l
the index is 3 and the value is l
the index is 4 and the value is o
the index is 5 and the value is
the index is 6 and the value is w
the index is 7 and the value is o
the index is 8 and the value is r
the index is 9 and the value is l
the index is 10 and the value is d

In [21]:

word = 'abcedfghikl'
for index,value in enumerate(word): #python uses the enumerate keyword and uses the unpacking
    print(index,value)
    print('\t')

0 a

1 b

2 c

3 e

4 d

5 f

6 g

7 h

8 i

9 k

10 l

In [23]:
list1 = [1,2,3,4,5,6]
list2 = ['a','b','c','d','e','f','g','h'] #zips only the shortest list
list3 = [100,200,300]
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [29]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [30]:
2 in list1

True

In [32]:
3 in list3

False

In [33]:
min(list1)

1

In [34]:
max(list3)

300

In [37]:
from random import shuffle

In [45]:
shuffle(list1)

In [46]:
list1

[5, 4, 6, 1, 3, 2]

In [47]:
ran_list = shuffle(list1)

In [48]:
type(ran_list)

NoneType

In [49]:
from random import randint

In [54]:
randint(0,100)

18

In [57]:
float(input('what is your fav number'))

what is your fav number30.34

30.34

In [27]:
mylist = []

In [6]:
mystring = 'hello world'

In [7]:
for letter in mystring:
    mylist.append(letter)

In [8]:
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [13]:
mylist = [letter for letter in 'Test message!']

In [14]:
mylist

['T', 'e', 's', 't', ' ', 'm', 'e', 's', 's', 'a', 'g', 'e', '!']

In [32]:
mylist[0]=='t' in mylist

NameError: name 'mylist' is not defined

In [43]:
celcius = [0,25,32,45,45.98]

In [49]:
import time
t1 = time.time()
farenheit = [(9/5*temp + 32) for temp in celcius]
t2 = time.time()
print(t2-t1)

0.00011396408081054688

In [50]:
farenheit

[32.0, 77.0, 89.6, 113.0, 114.764]

In [51]:
t1 = time.time()
for temp in celcius: 
    farenheit.append((9/5*temp + 32))
t2 = time.time()
print(t2-t1)

7.581710815429688e-05

In [24]:
farenheit

[32.0, 77.0, 89.6, 113.0, 114.764, 32.0, 77.0, 89.6, 113.0, 114.764]

In [28]:
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [30]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [66]:
st = 'print only the words that start with S in this sentence'
for item in st.split():
    if item[0].lower() == 's' or item[0].upper() == 'S':
        print(item)
    else:
        continue

start
S
sentence

In [32]:
st

'print only the workds that start with s in this sentence'

In [48]:
print(st.split())

['print', 'only', 'the', 'workds', 'that', 'start', 'with', 's', 'in', 'this', 'sentence']

In [84]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [41]:
for i in range(0,10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [580]:
[x for x in range(1,51) if x%3 ==0] #list comprehension

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [46]:
st

'print only the workds that start with s in this sentence'

In [52]:
for item in st.split():
    if len(item) % 2 == 0:
        print('Even', item)

Even only
Even that
Even with
Even in
Even this
Even sentence

In [76]:
for i in range(1,101):
    if (i % 3 == 0) and (i % 5 == 0):
        print('FizzBuzz')
    elif (i % 3 == 0): 
        print('Fizz')
    elif (i % 5 == 0):
        print('buzz')
    else:
        print(i)

1
2
Fizz
4
buzz
Fizz
7
8
Fizz
buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
buzz
Fizz
22
23
Fizz
buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
buzz
Fizz
37
38
Fizz
buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
buzz
Fizz
52
53
Fizz
buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
buzz
Fizz
67
68
Fizz
buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
buzz
Fizz
82
83
Fizz
buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
buzz
Fizz
97
98
Fizz
buzz

In [82]:
st = 'create a list of the first letters of every word in this string'
[x[0] for x in st.split()]

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [97]:
def lesser_of_events(a,b):
    if a % 2==0 and b %2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [101]:
lesser_of_events(10,101)

101

In [102]:
def string_function(text):
    word = text.split()
    return word[0][0] == word[1][0]

In [103]:
string_function('this test')

True

In [113]:
wd = 'test split'
word = wd.split()
print(word)
print(word[0][0]),(word[1][0])

['test', 'split']
t

(None, 's')

In [118]:
def give_twenty(a,b):
    return a+b == 20 or a == 20 or b ==20

In [122]:
give_twenty(0,20)

True

In [130]:
def cap_name(text):
    if len(text) > 3:
        return text[:3].capitalize() + text[3:].capitalize() 
    else:
        return text.capitalize()

In [132]:
cap_name('tES')

'Tes'

In [145]:
def reverse_sentence(text):
    return ' '.join(text.split()[::-1])

In [146]:
reverse_sentence('this is a test message')

'message test a is this'

In [147]:
abs(10)

10

In [152]:
def abs_return(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

In [162]:
abs_return(109)

True

In [263]:
def number_33(nums):
    for i in range(0,len(nums)-1):
#         if nums[i] == 3 and nums[i+1] == 3:
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [264]:
number_33([1,2,3,4,5,3,5,2,45,1,3,3])

True

In [222]:
list1 = [1,2,3,4,5,6,7]

In [227]:
list1[0:2]

[1, 2]

In [251]:
def chars_3(text):
    result = ''
    for i in text:
        result += i*3
    return result

In [253]:
chars_3('3')

'333'

In [266]:
mylist = [1,2,3,4]

In [267]:
mylist[:3]

[1, 2, 3]

In [1]:
def square(num):
    return num**2

In [34]:
my_nums = [1,2,3,4,5]

In [3]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [6]:
map(square,my_nums)

In [29]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0].upper()

In [30]:
names = ['bharath','sowmya','tests','name']

In [31]:
list(map(splicer,names))

['B', 'Even', 'T', 'Even']

In [40]:
def check_even(num):
    return num%2==0

In [41]:
list(filter(check_even,my_nums)) #filter checks for the boolean

[2, 4]

In [1]:
s = lambda num:num**2

In [2]:
s(3)

NameError: name 'i' is not defined

In [53]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25]

In [54]:
list

SyntaxError: invalid syntax (<ipython-input-54-1accc7b29e92>, line 1)

In [73]:
def myfunc(*args):
    return sum(args) * 0.05

In [75]:
myfunc(100,10,5,4,3,5)

6.3500000000000005

In [77]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('my fruit of choise is {}'.format(kwargs['fruit']))
    else:
        print('i did not find any fruit here')

In [82]:
myfunc(veggie='leaf')

i did not find any fruit here

In [84]:
def volume_sphere(rad):
    return 4/3 * 3.14 * rad**3

In [90]:
volume_sphere(5)

523.3333333333334

In [135]:
def ran_check(num,low,high):
    if num in range(low,high):
        print(f'{num} is within the range {low} and {high}')
    else:
        print(f'{num} is not within the range')

In [138]:
ran_check(0,1,10)

False

In [137]:
def ran_check(num,low,high):
    return num in range(low,high)

In [185]:

def upper_lower(string):
    d = {"upper":0,'lower':0}
    for x in string:
        if x.isupper():
            d['upper']+=1
        elif x.islower():
            d['lower']+=1
        else:
            pass
    print('original string',string)
    print('No. of upper case characters: ',d['upper'])
    print('No. of lower case characters: ',d['lower'])

In [194]:
upper_lower('HEllo')

original string HEllo
No. of upper case characters:  2
No. of lower case characters:  3

In [200]:
def unique_list(l):
    return print(set(l))

In [201]:
unique_list([1,1,1,1,2,2,2,2,3,3,3,3,5,4,4,4,])

{1, 2, 3, 4, 5}

In [175]:
def multiply(l):
    total = l[0]
    for x in l:
        total *= x
    return total

In [177]:
multiply([1,2,3,5])

150

In [227]:
def palindrome(word):
    word = word.replace(' ','')
    return word == word[::-1]

In [228]:
palindrome('s otto s ')

True

In [210]:
#pangram
import string
'The quick brown fox jumps over lazy dog'
def ispangram(str1,alphabet = string.ascii_lowercase):
    alphaset = set(alphabet)
    
    return alphaset <= set(str1.lower())

In [197]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [217]:
ispangram('The quick brown fox jumps over lazy dog')

True

In [219]:
print(set(string.ascii_lowercase))

{'z', 'k', 'm', 'f', 'g', 'n', 'q', 't', 'a', 'j', 'x', 'd', 'p', 'e', 'c', 'h', 'i', 'b', 'o', 'u', 'r', 's', 'l', 'w', 'v', 'y'}

In [231]:

def display_board(board):
    print(board[7]+'|'+board[8]+'|'+board[9])
    print(board[4]+'|'+board[5]+'|'+board[6])
    print(board[1]+'|'+board[2]+'|'+board[3])

In [234]:
board = ['#','X','O','X','O','X','O','O','X','O']

In [235]:
display_board(board)

O|X|O
O|X|O
X|O|X

OOP

In [237]:
mylist = [1,2,3,45]

In [238]:
myset = (1,2,3,4,56)

In [240]:
type(mylist)

list

In [257]:
class MyClass():
    def __init__(self,object1,attribute,value):
        self.object = object1
        self.attribute = attribute
        self.value = value

In [258]:
myobject = MyClass(object1 = 'ob',attribute = 'number',value = True)

In [259]:
type(myobject)

__main__.MyClass

In [262]:
myobject.value

True

In [85]:
class Circle():
    # class object attribute
    pi = 3.14
    def __init__(self,radius = 1):
        self.radius = radius
        self.area = radius*radius*Circle.pi
        
    #method 2
    def get_circumference(self):
        return self.radius *self.pi * 2

In [86]:
my_circle = Circle(20)

In [87]:
my_circle.pi

3.14

In [88]:
my_circle.radius

20

In [89]:
my_circle.get_circumference()

125.60000000000001

In [90]:
my_circle.area

1256.0

In [1]:
class Test():
    def __init__(self):
        print('Test 1')
    def meth1(self):
        print('Test 2 inside the meth1')
    def meth2(self):
        print('Test 3 inside the meth2')

In [45]:
class SampleTest():
    #class object attribute
    species = 'mammals'
    def __init__(self,breed):
        self.breed = breed

In [46]:
my_dog = SampleTest(breed='dog')
type(my_dog)
my_dog.breed
my_dog.species

'mammals'

In [6]:
class Value(Test):
    def __init__(self):
        Test.__init__(self)
        print('inherited')
#     def meth2(self):
#         print('this is me overriding the value from the Test class')

In [7]:
myvalue = Value()

Test 1
inherited

In [8]:
myvalue.meth2()

Test 3 inside the meth2

In [67]:
class Dog(): 
    def __init__(self,name,number):
        self.name = name
        self.number = number
    def speak(self):
        return self.name + ' says woof!'
    def myage(self):
        return 'my age is number {}'.format(self.number)

In [68]:
class Cat():
    def __init__(self,name):
        self.name = name
    def speak(self):
        return self.name + ' says meow!'

In [69]:
niko = Dog('niko',10)
felix = Cat('felix')

In [73]:
print(felix.speak())
print(niko.myage())

felix says meow!
my age is number 10

In [15]:
print(niko.speak())

niko says woof!

In [92]:
for pet in [niko,felix]:
    print(type(pet))
    print(pet.speak())

<class '__main__.Dog'>
niko says woof!
<class '__main__.Cat'>
felix says meow!

In [360]:
def pet_speak(pet):
    print(pet.speak())

In [364]:
pet_speak(felix)

felix says meow!

In [380]:
class Animal():
    def __init__(self,name):
        self.name = name
    def speak(self):
        raise NotImplementedError('subclass must implemnet this abstract method')

In [381]:
myanimal = Animal('dog')

In [382]:
myanimal.speak()

NotImplementedError: subclass must implemnet this abstract method

In [402]:
class Book():
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
    def __str__(self):
        return f'{self.title} by {self.author}'
    def __len__(self):
        return self.pages
    def __del__(self):
        print('object has been deleted')

In [403]:
b = Book('Rage of Angels','Sydney Sheldon',100)

In [404]:
print(b)

Rage of Angels by Sydney Sheldon

In [405]:
len(b)

100

In [406]:
del b

object has been deleted

In [436]:
class Line():
    def __init__(self,cord1,cord2):
        self.cord1 = cord1
        self.cord2 = cord2
    def distance(self):
        x1,y1 = self.cord1
        x2,y2 = self.cord2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        x1,y1 = self.cord1
        x2,y2 = self.cord2
        return  (y2-y1)/(x2-x1)

In [437]:
cord1 = (3,2)
cord2 = (8,10)
d = Line(cord1,cord2)

In [438]:
d.distance()

9.433981132056603

In [439]:
d.slope()

1.6

1.745

In [443]:
import numpy as np

In [444]:
height = [1.73,1.68,1.20,1.80,1.23,1.98,2.01]

weight = [65.4,45.8,78.4,54,76.9,88.9,90]

In [445]:
np_height = np.array(height)

np_weight = np.array(weight)

bmi = np_weight / np_height ** 2

In [446]:
bmi

array([21.85171573, 16.22732426, 54.44444444, 16.66666667, 50.82953269,
       22.67625752, 22.27667632])

In [447]:
bmi[bmi > 40]

array([54.44444444, 50.82953269])

In [448]:
np_2d = np.array([[1.73,1.68,1.20,1.80,1.23,1.98,2.01,1.76],

                 [65.4,45.8,78.4,54,76.9,88.9,90,87.9]])

In [449]:
np_2d.shape

(2, 8)

In [450]:
np_2d[0,:]

array([1.73, 1.68, 1.2 , 1.8 , 1.23, 1.98, 2.01, 1.76])

In [451]:
np_2d[:,:3]

array([[ 1.73,  1.68,  1.2 ],
       [65.4 , 45.8 , 78.4 ]])

In [452]:
np.mean(np_2d[0,:])

1.67375

In [453]:
sum(np_2d[0,:]) / 8

1.67375

In [454]:
np.median(np_2d[1,:])

77.65

In [460]:
try:
    a = 10
    b = 10
    a + b
except TypeError:
    print('value cannot be string')
finally:
    print('enter the value again')

enter the value again

In [463]:
for i in ['a','b','c']:
    try:
        print(i**2)
    except TypeError:
        print('the value is a string')
    else:
        print('value worked')

the value is a string
the value is a string
the value is a string

In [465]:
x = 5
y = 0 

try:
    z = x/y
except ZeroDivisionError:
    print('')
finally:
    print('all done')

all done

In [474]:
def ask():
    while True: 
        try:
            get_number = int(input('Give me a number '))
            result = get_number**2
        except:
            print('value entered is not a number, try again!!')
            continue
        else:
            print('Thank you, your number squared is {}'.format(result))
            break

In [475]:
ask()

Give me a number 2.0
value entered is not a number, try again!!
Give me a number test
value entered is not a number, try again!!
Give me a number value
value entered is not a number, try again!!
Give me a number '3'
value entered is not a number, try again!!
Give me a number 2.3
value entered is not a number, try again!!
Give me a number 10
Thank you, your number squared is 100

In [476]:
def func():
    return 1

In [477]:
func()

1

In [478]:
func

In [479]:
def hello():
    return 'hello'

In [480]:
hello()

'hello'

In [481]:
greet = hello

In [482]:
greet()

'hello'

In [483]:
hello()

'hello'

In [484]:
del hello()

SyntaxError: can't delete function call (<ipython-input-484-a1e3608aa9db>, line 1)

In [485]:
del hello

In [486]:
hello

NameError: name 'hello' is not defined

In [487]:
greet()

'hello'

In [505]:
def hello(name='Bharath'):
    print('hello this is bharath')
    
    def welcome():
        print('this is welcome')
        
    def hi():
        print('this is hi')
    if name == 'Bharath':
        return welcome
    else:
        return hi

In [511]:
x = hello()

hello this is bharath

In [509]:
print(x)

<function hello at 0x115713400>

In [517]:
print(hello('')())

hello this is bharath
this is hi
None

In [524]:
def create_cubes(n):
    for x in range(n):
        yield x**3

In [639]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [676]:
def gen_fib(n):
    a = 1
    b = 1
    while a <= n:   
        for i in range(n):
            yield a 
            a,b = b,a+b

In [683]:
for number in gen_fib(5):
    print(number)

1
1
2
3
5

In [67]:
def gene():
    for i in range(3):
        yield i

In [68]:
#for num in gene():
   #print(num)

In [69]:
g = gene()

In [70]:
g

In [74]:
print(next(g))

StopIteration:

In [372]:
s = 'hello'

In [18]:
for letter in s:
    print(letter)

h
e
l
l
o

In [700]:
print(next(s))

TypeError: 'str' object is not an iterator

In [386]:
s_iter = iter(s) #cannot be used as generators directly for strings.

In [387]:
lst = 'techlead'
print(next(iter(lst)))

t

In [384]:
print(next(s_iter))

NameError: name 's_iter' is not defined

In [6]:
def factorial(n):
    result = 1
    for i in range(n,1,-1):
        result *= i
    return result

In [10]:
factorial(3)

6

In [641]:
import random
random.randint(1,10)

9

In [643]:
def ran_num(low,high,n):
    for i in range(n):
        yield random.randint(low,high)

In [647]:
for i in ran_num(0,5,10):
    print(i)

2
5
1
1
3
0
3
0
2
1

In [649]:
lis = [1,2,3,4,5] 
gencomp = (i for i in lis if i >3) #generator comprehension 
for x in gencomp:
    print(x)

4
5

In [710]:
#counter
from collections import Counter

In [711]:
l = [1,1,1,1,2,2,32,3,3,4,4,4,5,55,6,6,7,7,7,8,6,5,5,5,5,4,4,3]
Counter(l)

Counter({1: 4, 2: 2, 32: 1, 3: 3, 4: 5, 5: 5, 55: 1, 6: 3, 7: 3, 8: 1})

In [712]:
text = 'abcdefghijklmnopqrstuvwxyzzyxwvutsrqpomnlkjihgfedcba'
Counter(text)

Counter({'a': 2,
         'b': 2,
         'c': 2,
         'd': 2,
         'e': 2,
         'f': 2,
         'g': 2,
         'h': 2,
         'i': 2,
         'j': 2,
         'k': 2,
         'l': 2,
         'm': 2,
         'n': 2,
         'o': 2,
         'p': 2,
         'q': 2,
         'r': 2,
         's': 2,
         't': 2,
         'u': 2,
         'v': 2,
         'w': 2,
         'x': 2,
         'y': 2,
         'z': 2})

In [713]:
words = 'this is a test message to test the number of occurances in the test message'

In [731]:
w = Counter(words.split())

In [718]:
w

Counter({'this': 1,
         'is': 1,
         'a': 1,
         'test': 3,
         'message': 2,
         'to': 1,
         'the': 2,
         'number': 1,
         'of': 1,
         'occurances': 1,
         'in': 1,
         't': 2,
         'e': 1,
         's': 1})

In [723]:
sum(w.values()) #sums up the total count

19

In [728]:
w.clear() #clears the counter

In [732]:
list(w)

['this',
 'is',
 'a',
 'test',
 'message',
 'to',
 'the',
 'number',
 'of',
 'occurances',
 'in']

In [734]:
set(w) #orders

{'a',
 'in',
 'is',
 'message',
 'number',
 'occurances',
 'of',
 'test',
 'the',
 'this',
 'to'}

In [735]:
dict(w)

{'this': 1,
 'is': 1,
 'a': 1,
 'test': 3,
 'message': 2,
 'to': 1,
 'the': 2,
 'number': 1,
 'of': 1,
 'occurances': 1,
 'in': 1}

In [736]:
w.items() #convert to a list of element, count pairs

dict_items([('this', 1), ('is', 1), ('a', 1), ('test', 3), ('message', 2), ('to', 1), ('the', 2), ('number', 1), ('of', 1), ('occurances', 1), ('in', 1)])

In [740]:
Counter(dict(w))

Counter({'this': 1,
         'is': 1,
         'a': 1,
         'test': 3,
         'message': 2,
         'to': 1,
         'the': 2,
         'number': 1,
         'of': 1,
         'occurances': 1,
         'in': 1})

In [752]:
w.most_common()[-2:]

[('occurances', 1), ('in', 1)]

In [763]:
w += Counter()

In [761]:
w.subtract('this')

In [764]:
w

Counter({'this': 1,
         'is': 1,
         'a': 1,
         'test': 3,
         'message': 2,
         'to': 1,
         'the': 2,
         'number': 1,
         'of': 1,
         'occurances': 1,
         'in': 1})

In [765]:
from collections import defaultdict

In [770]:
d = {'k1':1}

In [774]:
d['k2']

KeyError: 'k2'

In [775]:
d = defaultdict(lambda :1)

In [786]:
d['k4'] = 2

In [795]:
for key,value in d.items():
    print(key,value)

k1 1
k2 1
k3 1
k4 2
-1 1
-2 1
0 1

In [793]:
d['k4']

2

In [796]:
from collections import OrderedDict

In [821]:
d = {}
d['a'] = 6
d['b'] = 1
d['c'] = 2
d['d'] = 3
d['e'] = 5
d['f'] = 1

In [822]:
d

{'a': 6, 'b': 1, 'c': 2, 'd': 3, 'e': 5, 'f': 1}

In [823]:
for k,v in d.items():
    print (k,v)

a 6
b 1
c 2
d 3
e 5
f 1

In [819]:
d = OrderedDict()
d['a'] = 6
d['b'] = 5
d['c'] = 4
d['d'] = 3
d['e'] = 2
d['f'] = 1

In [824]:
for k,v in d.items():
    print(k,v)

a 6
b 1
c 2
d 3
e 5
f 1

In [100]:
class Poly():
    def __init__(self,name):
        self.name = name
    def with_name(self):
        return self.name + 'is a poly method'

In [101]:
class Morphism():
    def __init__(self,name):
        self.name = name
    def with_name(self):
        return self.name + 'is a Morphism method'

In [102]:
t_poly = Poly('test for poly')
t_morp = Morphism('test for morph')

In [108]:
for name in [t_poly,t_morp]:
    print(type(name))

<class '__main__.Poly'>
<class '__main__.Morphism'>

In [105]:
def isthispoly(name):
    print(name.with_name())

In [107]:
isthispoly(t_morp)

test for morphis a Morphism method

Regular expression  - Snippets

.       - Any Character Except New Line
\d      - Digit (0-9)
\D      - Not a Digit (0-9)
\w      - Word Character (a-z, A-Z, 0-9, _)
\W      - Not a Word Character
\s      - Whitespace (space, tab, newline)
\S      - Not Whitespace (space, tab, newline)

\b      - Word Boundary
\B      - Not a Word Boundary
^       - Beginning of a String
$       - End of a String

[]      - Matches Characters in brackets
[^ ]    - Matches Characters NOT in brackets
|       - Either Or
( )     - Group

Quantifiers:
*       - 0 or More
+       - 1 or More
?       - 0 or One
{3}     - Exact Number
{3,4}   - Range of Numbers (Minimum, Maximum)


#### Sample Regexs ####

[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+

In [401]:
import re
text_to_search = '''
abcdefghijklmnopqurtuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890
Ha HaHa
MetaCharacters (Need to be escaped):
. ^ $ * + ? { } [ ] \ | ( )
coreyms.com
321-555-4321
123.555.1234
123*555*1234
800-555-1234
900-555-1234
Mr. Schafer
Mr Smith
Ms Davis
Mrs. Robinson
Mr. T
as_bharath@gmail.com
as.bharath@gmail.com
venturi_ef@tech.institu
https://www.google.com
http://dsti.institute
'''

In [402]:
# with open('/Users/aazur3e/Bootcamp/data.rtfd', mode='r') as f:
#     contents = f.read()

In [403]:
# patterns = re.compile(r'\d{3}.\d{3}.\d{4}')`
# patterns = re.compile(r'([A-Za-z0-9-_.]+)@(\w+)\.(\w+)')
patterns = re.compile(r'https?://(www\.)?(\w+)(.\w+)')

In [404]:
matches = patterns.finditer(text_to_search)
# matches = patterns.finditer(contents)

In [405]:
for match in matches:
    print(match.group(1))

www.
None

In [59]:
lis = [1,2,3,4,5,6,7,8,9,3,3,3,3]

In [63]:
x = [y for y in range(10)]

In [65]:
iter(x)

In [66]:
next(x)

TypeError: 'list' object is not an iterator

In [75]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [85]:
dic = {}
for i in countries:
    for j in capitals:
        dic = {i:j}

In [86]:
dic

{'norway': 'oslo'}

In [21]:
def factorial(n):
    result = 1
    for i in range(n,1,-1):
        result *= i
    return result

In [23]:
factorial(3)

6

In [24]:
lst = [1,2,2,2,3,3,3,3,4,4,4,4,5,56,6,7,8,8,9,5,4,3,3,3,2,2,1,1,1,1]

In [67]:
list1 = lst.sort()
print(list1)

None

In [78]:
stack = []
for i in lst:
    if stack.count(i) == 0:
        stack.append(i)
    elif stack.count(i) == 1:
        continue
    
if len(stack) == len(set(lst)):
    stack.sort()
    print(stack)
else:
    print("something wrong with the logic")
    print(set(lst),"\n",stack)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 56]

In [82]:
stack = {}
for i in lst:
    stack[i] = i
    if stack[i] >= 1:
        stack[i] += 1
    
for k,v in stack.items():
    print(k,"\t",v)

1 	 2
2 	 3
3 	 4
4 	 5
5 	 6
6 	 7
7 	 8
8 	 9
9 	 10
56 	 57

In [69]:
stack = {'1':1,'2':2}

In [76]:
stack['3'] == 3
stack.
# print(stack.items())

True